@import '../tools/mediaqueries.scss';

.cards{
    &__list{
        margin: 0;
        padding: 0;
        display: grid;

        @include desktop{
            grid-template-columns: repeat(4, 3fr);
            grid-column-gap: 14px;
        }

        @include mobile{
            grid-template-columns: repeat(2, 6fr);
            grid-column-gap: 10px;
        }
    }


    &__title{
        margin: 0;  
        color: #fff;
        font-weight: 400;
        opacity: 0.7;
        margin-bottom: 22px;
        width: 100%;
        
        @include desktop{
            font-size: 24px;
            line-height: 28px;
        }

        @include mobile{
            font-size: 16px;
            line-height: 19px;
        }

        .icon{
            margin-right: 10px;
        }
    }

    &__item{
        position: relative;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        background: #fff;
        margin: 23px 0;
        
        @include desktop{
            border-radius: 5px;
            padding: 22px 33px;
            height: 463px;
        }

        @include mobile{
            border-radius: 3px;
        }


        a,
        span{
            display: block;
            text-decoration: none;
        }

        &-content{
            text-align: center;
        }
        
        &-card{
            overflow: hidden;
            
            @include desktop{
                height: 214px;
            }

            @include mobile{
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                line-height: 0;
            }

            img{
                width: 100%;
                height: auto;
            }
        }

        &-name{
            color: rgba(0, 0, 0, 0.9);
            
            @include mobile{
                font-size: 13px;
                line-height: 15px;
                font-weight: 500;
                margin: 8px 0px 4px;
            }

            @include desktop{
                font-size: 20px;
                line-height: 23px;
            }
        }

        &-user{
            color: rgba(0, 0, 0, 0.7);
            text-decoration: none;

            @include desktop{
                font-size: 14px;
                line-height: 16px;
            }

            @include mobile{
                font-size: 12px;
                line-height: 14px;
            }
        }

        &-role{
            
            @include mobile{
                font-size: 12px;
                line-height: 14px;
                color: rgba(0, 0, 0, 0.5);
                margin: 2px 0;
            }
            
            @include desktop{
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #000;
                margin: 4px 0; 
            }
        }

        &-tweet{
            color: #656565;
            font-style: italic;
            
            @include desktop{
                font-size: 16px;
                line-height: 19px;
            }

            @include mobile{
                font-size: 12px;
                line-height: 14px;
            }
        }

        &-like{
            padding-bottom: 42px;
        }
    }
}