@import '../tools/mediaqueries.scss';

header{		
    @include desktop{
        padding: 50px 0
    }

    @include mobile{
        height: 60px;
        background-color: #561CA6;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    .container{
        transition: all 300ms ease-in-out;
        
        @include mobile{
            padding: 18px 0;
            overflow: hidden;
            text-align: center;
        }
    }

}