@import '../tools/mediaqueries.scss';

.button-like {
    border: 0;
    background: transparent;
    box-shadow: 0 0 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 18px;
    width: 30px;

    @include mobile{
        right: 50%;
        transform: translateX(50%);
        bottom: 12px;
    }

    &:active,
    &:focus{
        outline: none;
    }
    
    svg{
        fill: #A7B8C3;
        transition: all 200ms ease;
    }

    &--liked{
        svg{
            fill: #FF223E;
        }
    }
}