@import '../../tools/mediaqueries.scss';

.App{
	position: relative;

	&-content{
		@include desktop{
			margin-bottom: 99px;
		}

		@include mobile{
			margin-bottom: 44px;
		}
		
		p{
			letter-spacing: 0.42px;
			color: #fff;
			max-width: 712px;
			
			@include desktop{
				font-size: 20px;
				line-height: 23px;
			}

			@include mobile{
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
	
	&-title{
		font-weight: 700;
		color: #fff;
		margin: 0;
		
		@include desktop{
			line-height: 117px;
			font-size: 100px;
		}

		@include mobile{
			line-height: 58px;
			font-size: 42px;
		}
	}
}
