@import './tools/mediaqueries.scss';
@import './tools/fontface.scss';

body {
	margin: 0;
	padding: 0;
	font-family: ProximaNova;
	background-color: #FF223E;
	background-image: url('./images/mask-home.svg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1169px;
}

.container{
	@include desktop{
		max-width: 1440px;
		padding: 0 64px;
		margin: 0 auto;
	}

	@include mobile{
		padding: 0 20px;
	}
}

.icon{
	&-twitter{
		&:before{
			content: "";
			display: inline-block;
			background: url('./images/icon-twitter.svg') no-repeat;
			background-size: contain;
			vertical-align: top;
			
			@include desktop{
				height: 20px;
				width: 25px;
			}

			@include mobile{
				width: 15px;
				height: 15px;
			}
		}
	}
}