// Font Family
@mixin fontface($name, $file, $weight: normal, $style: normal){
	@font-face {
		font-family: "#{$name}";
		src: url('./fonts/#{$file}.otf');
		font-weight: $weight;
		font-style: $style;
	}
}

@include fontface(ProximaNova, ProximaNova-Regular);
@include fontface(ProximaNova, ProximaNova-RegItalic, normal, italic);
@include fontface(ProximaNova, ProximaNova-Semibold, 500);
@include fontface(ProximaNova, ProximaNova-Bold, 600);
@include fontface(ProximaNova, ProximaNova-Extrabold, 700);