// Media Queries
$mobile: 1024px;
$desktop: 1025px;

@mixin mobile {
	@media only screen and (max-width: $mobile) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop) {
		@content;
	}
}